body {
    background: url('../img/bg.jpg') no-repeat;
    background-size: cover;
    margin: 0px;
}

.info {
    padding: 1em;
    width: 960px;
    margin: auto;
    background-color: #5442ab;
    box-shadow: 10px 10px 0px 0px rgba(97,25,97,1);
}
h1,h2,h3 {
    font-family: 'Oswald', sans-serif;
    margin: auto;
}